<template name="addItem">
  <div class="container">
    <h1>Add item</h1>
    <form role="form">
      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" id="category">
          {{#each categories}}
            <option selected></option>
            <option value="{{name}}">{{name}}</option>
          {{/each}}
        </select>
      </div><!-- form-group -->
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description">
      </div><!-- form-group -->
      <div class="row">
        <div class="col-md-12">
          {{#if picture}}
            <img class="picture" src="{{picture}}">
          {{else}}
            <video class="picture" id="camera" autoplay></video>
          {{/if}}
        </div>
      </div>
      <div>
        <p>Location: {{location}}</p>
        <button type="submit" class="btn btn-primary" {{disabled}}>Add</button>
      </div>
    </form>
  </div><!-- container -->
</template>

